<hs-slides (playClickedEvent) = "onPlayClicked($event)" (stopClickedEvent) = "onStopClicked()"></hs-slides>
<br/>
<div *ngIf="areaChose">
<hs-media-table [cameras]="cameras" [microphones]="microphones" (configChosenEvent)="onCofigChosen($event)"></hs-media-table>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/>
<br/><br/>
<br/>
<br/>
<div class="row">
<div class="col-md-2 solid">
<hs-audio-screen [microphones]="microphones"></hs-audio-screen>
</div>
<div class = "col-md-10 solid">
<hs-video-screen></hs-video-screen>
</div>
</div>
<br/>
<br/>
<br/><br/>
<br/>
<br/>
</div>