.camera{
    width:3%;
    }
    
    .microphone{
    width:3%;
    }
    .media{
      position: absolute;
      top:0;
      bottom:0;
      left: 0;
      right:0;
    }
    .area{
      position: absolute;
        top:0;
        bottom:0;
        left: 0;
        right:0;
       }
    /* .showTitle{
      position:inherit;
    border: 1px solid blue;
    width:25px;
    height: 20px;
    background-color: darkblue;
    border-radius: 4px;
    color: white;
    text-align: center;
    } */

    .roundButton{
        position: absolute;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50%;
        opacity:0.6;
        outline: none;
        box-shadow: 0 9px #999;
      }
      .roundButton:hover{
        opacity:1;
      }
    
      .roundButton:active{
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
      .switch{
        position:relative;
        display:inline-block;
        width: 30px;
        height: 30px;
      } 
      .switch input {display:none;}
      
      input:checked + .roundButton{
        background-color: red;
      }
      input:focus + .roundButton {
        box-shadow: 0 0 1px #2196F3;
      }