<div class="area" ng-init="showArea=false">
<div class="media" *ngFor="let camera of cameras" [hidden]="!showArea">
  <img class="camera" [id]="'camera' + camera.id" [src]="cameraIcon" [style.margin-top.px]="camera.top" [style.margin-left.px]="camera.left"
    [title]="camera.name">
</div>

<label class="media" *ngFor="let microphone of microphones" [hidden]="!showArea">
  <img class="microphone" [id]="'microphone' + microphone.id" [src]="microphoneIcon" [style.margin-top.px]="microphone.top"
    [style.margin-left.px]="microphone.left" [title]="microphone.name">
</label>

  <label class="switch" [style.margin-top.px]="area.top" [style.margin-left.px]="area.left" [title]="area.name">
    <input type="checkbox" (change)="chooseArea(i)" (mouseenter)="showArea=true" (mouseleave)="showArea=false">
    <span class="roundButton">{{area.name}}
    </span>
  </label>
</div>