<div class="container">
    <h2 style="color: blue">Site Map</h2>

    <div id="myGallery" class="gallery">
        <div class="gallery-content">

            <!-- main view -->
            <div class="mySlides">
                <div class="numbertext">{{slideIndex+1}} / {{slides.length}}</div>
                <img class="mainImg" [src]="currentSlide.location" [title]="currentSlide.description">
                <!-- overlay for the cameras and microphones -->
                <div class="overlay">
                    <span *ngFor="let camera of currentSlide.cameras">
                        <img class="camera" src="../assets/icons/camera.svg" [style.margin-top.px]="camera.top" [style.margin-left.px]="camera.left"
                            [title]="camera.name">
                    </span>
                    <span *ngFor="let microphone of currentSlide.microphones">
                        <img class="microphone" src="../assets/icons/microphone.svg" [style.margin-top.px]="microphone.top" [style.margin-left.px]="microphone.left"
                            [title]="microphone.name">
                    </span>
                    <span *ngFor="let area of currentSlide.areas">
                        <button class="roundButton" [style.margin-top.px]="area.top" [style.margin-left.px]="area.left" [title]="area.name">{{area.name}}</button>
                    </span>
                </div>
            </div>

            <!-- prev next arrows -->
            <a class="prev" (click)="plusSlides(-1)" title="previous">&#10094;</a>
            <a class="next" (click)="plusSlides(1)" title="next">&#10095;</a>

            <!-- image description -->
            <div class="caption-container">
                <h3 id="caption">{{currentSlide.description}}</h3>
            </div>

            <!-- thumbnails -->
            <div *ngFor="let slide of slides; let i = index">
                <div *ngIf="i<4">
                    <div class="column" *ngIf="slide.slideIndex==slideIndex">
                        <img class="thumbnail cursor active" [src]="slide.location" (click)="switchSlide(slide.slideIndex)" [alt]="slide.description"
                            [title]="slide.description">
                    </div>
                    <div class="column" *ngIf="slide.slideIndex!=slideIndex">
                        <img class="thumbnail cursor" [src]="slide.location" (click)="switchSlide(slide.slideIndex)" [alt]="slide.description" [title]="slide.description">
                    </div>
                </div>
                <div *ngIf="i>=4">
                    <div class="column" *ngIf="slide.slideIndex==slideIndex">
                        <img class="thumbnail cursor active secondRow" [src]="slide.location" (click)="switchSlide(slide.slideIndex)" [alt]="slide.description"
                            [title]="slide.description">
                    </div>
                    <div class="column" *ngIf="slide.slideIndex!=slideIndex">
                        <img class="thumbnail cursor secondRow" [src]="slide.location" (click)="switchSlide(slide.slideIndex)" [alt]="slide.description"
                            [title]="slide.description">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>