<div class="container">
    <h2 style="color: blue">Site Map</h2>

    <div id="myGallery" class="gallery">
        <div class="gallery-content">

            <!-- main view -->
            <div class="mySlides">
                <div class="numbertext">{{slideIndex+1}} / {{slides.length}}</div>
                <img class="mainImg" [src]="currentSlide.location" [title]="currentSlide.description">

                <!-- overlay for the cameras, microphones and areas -->
                <div *ngFor="let camera of currentSlide.cameras">
                    <div class="overlay2">
                        <img class="camera" [id]="'camera' + camera.id" [src]="cameraIcon" [style.margin-top.px]="camera.top" [style.margin-left.px]="camera.left"
                            [title]="camera.name" [style.opacity]="op">
                    </div>
                    <div class="overlay2">
                        <label [id]="'cameraLabel'+ camera.id" [style.margin-top.px]="camera.top+20" [style.margin-left.px]="camera.left" [style.opacity]="op">{{camera.name}}</label>
                    </div>
                </div>
                <div *ngFor="let microphone of currentSlide.microphones">
                    <div class="overlay2">
                        <img class="microphone" [id]="'microphone' + microphone.id" [src]="microphoneIcon" [style.margin-top.px]="microphone.top"
                            [style.margin-left.px]="microphone.left" [title]="microphone.name" [style.opacity]="op">
                    </div>
                    <div class="overlay2">
                        <label [id]="'microphoneLabel'+ microphone.id" [style.margin-top.px]="microphone.top+30" [style.margin-left.px]="microphone.left" [style.opacity]="op">{{microphone.name}}</label>
                    </div>
                </div>

                <!-- </div> -->
                <div class="overlay">
                    <div *ngFor="let area of currentSlide.areas; let i=index">
                        <label class="switch" [style.margin-top.px]="area.top" [style.margin-left.px]="area.left" [title]="area.name">
                            <input type="checkbox" (change)="chooseArea(i)" [disabled]="areaDisabled">
                            <span class="roundButton" (mouseenter)="showArea(i)" (mouseleave)="hideArea(i)">{{area.name}}
                            </span>
                        </label>

                    </div>
                </div>
            </div>
            
            
            <!-- image description -->
            <div class="caption-container">
                <h3 id="caption">{{currentSlide.description}}</h3>
            </div>
            
            <div *ngIf="numOfClicks==0" [@enterAnimation]>
            <!-- prev next arrows -->
            <a class="prev" (click)="plusSlides(-1)" title="previous">&#10094;</a>
            <a class="next" (click)="plusSlides(1)" title="next">&#10095;</a>
            <!-- thumbnails -->

            <div *ngFor="let slide of slides; let i = index">
                <div *ngIf="i<4">
                    <div class="column" *ngIf="slide.slideIndex==slideIndex">
                        <img class="thumbnail cursor active" [src]="slide.location" (click)="switchSlide(slide.slideIndex)" [alt]="slide.description"
                            [title]="slide.description">
                    </div>
                    <div class="column" *ngIf="slide.slideIndex!=slideIndex">
                        <img class="thumbnail cursor" [src]="slide.location" (click)="switchSlide(slide.slideIndex)" [alt]="slide.description" [title]="slide.description">
                    </div>
                </div>
                <div *ngIf="i>=4">
                    <div class="column" *ngIf="slide.slideIndex==slideIndex">
                        <img class="thumbnail cursor active secondRow" [src]="slide.location" (click)="switchSlide(slide.slideIndex)" [alt]="slide.description"
                            [title]="slide.description">
                    </div>
                    <div class="column" *ngIf="slide.slideIndex!=slideIndex">
                        <img class="thumbnail cursor secondRow" [src]="slide.location" (click)="switchSlide(slide.slideIndex)" [alt]="slide.description"
                            [title]="slide.description">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <br/>
    <button type="button" id="playButton" class="btn btn-primary btn-lg btn-block" (click)="playClicked()" title="{{!areaChose?'Please choose an area':''}}" [disabled]="!areaChose">{{playingMedia?"Stop Media and choose a different Area":"Play Media"}}</button>
</div>


