<div class="container">
    <h2 style="color: blue">Site Map</h2>

    <div id="myGallery" class="gallery">
        <div class="gallery-content">

            <!-- main view -->
            <div class="mySlides">
                <div class="numbertext">{{slideIndex+1}} / {{slides.length}}</div>
                <img class="mainImg" [src]="currentSlide.location" [title]="currentSlide.description">
            </div>

            <!-- prev next arrows -->
            <a class="prev" (click)="plusSlides(-1)" title="previous">&#10094;</a>
            <a class="next" (click)="plusSlides(1)" title="next">&#10095;</a>

            <!-- image description -->
            <div class="caption-container">
                <h3 id="caption">{{currentSlide.description}}</h3>
            </div>

            <!-- thumbnails -->
            <div *ngFor="let slide of slides; let i = index">
                <div *ngIf="i<4">
                    <div class="column" *ngIf="slide.slideIndex==slideIndex">
                        <img class="thumbnail cursor active" [src]="slide.location" (click)="switchSlide(slide.slideIndex)" [alt]="slide.description"
                            [title]="slide.description">
                    </div>
                    <div class="column" *ngIf="slide.slideIndex!=slideIndex">
                        <img class="thumbnail cursor" [src]="slide.location" (click)="switchSlide(slide.slideIndex)" [alt]="slide.description" [title]="slide.description">
                    </div>
                </div>
                <div *ngIf="i>=4">
                        <div class="column" *ngIf="slide.slideIndex==slideIndex">
                                <img class="thumbnail cursor active secondRow" [src]="slide.location" (click)="switchSlide(slide.slideIndex)" [alt]="slide.description"
                                    [title]="slide.description">
                            </div>
                            <div class="column" *ngIf="slide.slideIndex!=slideIndex">
                                <img class="thumbnail cursor secondRow" [src]="slide.location" (click)="switchSlide(slide.slideIndex)" [alt]="slide.description" [title]="slide.description">
                            </div>
                </div>
            </div>
    <!--
            <div *ngIf="slides.length>4">-->
                <!-- in case there are more than 4 thumbnails add arrows -->
                <!--<a class="prevThumb" (click)="plusThumb(-1)" title="previous">&#10094;</a>
                <a class="nextThumb" (click)="plusThumb(1)" title="next">&#10095;</a>
            </div>
        -->
        </div>
    </div>
</div>