<!-- Header -->
<div class="w3-display-container" id="header">
  <div class="w3-blue w3-padding-32 w3-xlarge">
    <button id="openNav" class="w3-button w3-blue w3-hover-indigo" (click)="showSidebar()" [title]="title">&#9776;</button>
    <img src="assets/images/hindsightLogo.png" alt="logo" style="width:10%">
    <i class="w3-display-middle">Name of Project</i>
     <a [routerLink]="['/home']" title="Home"><img class="w3-display-topright flipping" src="assets/images/tsgLogo.png" alt="logo"></a>
  </div>
</div>

<!--sidebar-->
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-light-grey" id="mySidebar" *ngIf="sidebar" [style.width.%]="width">
  <a [routerLink]="['/home']" class="w3-bar-item w3-button w3-hover-blue" title="Home">
    <img src="assets/icons/home.svg" alt="Home Icon" style="width:80%">
  </a>
  <a [routerLink]="['/record']" class="w3-bar-item w3-button w3-hover-blue" title="New Record">
    <img src="assets/icons/record.svg" alt="New Record Icon" style="width:80%">
  </a>
  <a [routerLink]="['/live']" class="w3-bar-item w3-button w3-hover-blue" title="Live Feed">
    <img src="assets/icons/live.svg" alt="Live Feed Icon" style="width:80%">
  </a>
  <a [routerLink]="['/play']" class="w3-bar-item w3-button w3-hover-blue" title="Play">
    <img src="assets/icons/play.svg" alt="Play Icon" style="width:80%">
  </a>
  <a [routerLink]="['/watch']" class="w3-bar-item w3-button w3-hover-blue" title="Watch">
    <img src="assets/icons/eye.svg" alt="Watch Icon" style="width:80%">
  </a>
</div>

<!--Main part of the page-->
<div class="w3-container" id="main" [style.marginLeft.%]="marginLeft">
  <router-outlet></router-outlet>
</div>
<div class="w3-display-container" id="footer">
  <div class="w3-pale-blue w3-padding-16">
    <i class="w3-display-middle">Hind Sight</i>
  </div>
</div>