.cubeBorder{
    border:8px solid white;
}
h3{
    color: blue;
    text-align: center;
    text-decoration: underline;
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
    font-size: 300%;
}
img{
    width:20%;
}
.zoomAnimation {
    transition-property: transform;
    transition-duration: .5s;
  }
  
   .wrp {
    overflow: hidden;
  }
  
  .inner-wrp {
    padding: 15px;
    transition-property: transform;
    transition-duration: .5s;
    transform: scale(1);
  }
  
  .inner-wrp:hover {
  
    transform: scale(1.10);
  }