<div class="header">
    <div class="navigation">
        <ul>
           <li><a href="#">Media</a>
                <ul>
                    <li>
                        <ul>
                            <li><a href="#">Camera1</a></li>
                            <li><a href="#">Camera2</a></li>
                            <li><a href="#">Camera3</a></li>
                        </ul>
                        <a href="#">Video</a>
                    </li>
                    <li>
                        <ul>
                            <li><a href="#">Microphone1</a></li>
                            <li><a href="#">Microphone2</a></li>
                        </ul>
                        <a href="#">Audio</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

