.dropdown-submenu {
    position: relative;
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.configSecondLayer{
    display: none;
}
.configFirstLayer:hover .configSecondLayer{
    display:block;
}
.modalSubmit{
    box-shadow: 0 9px #999;
}

.modalSubmit:active{
box-shadow: 0 5px #666;
transform: translateY(4px);
}

